* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: whitesmoke;
}

body {
  background-image: url("Assets/images/background.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;
  background-color: rgb(0, 0, 0);
  margin: 0; 
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: end;
}

.links {
  text-decoration: none;
  padding: 1rem;
  font-family:cursive;
  font-size: 1rem;
  color: rgb(173, 5, 5);
}

#title {
  margin: 0.3rem;
  color: whitesmoke
}

.icon {
  size: 6rem;
}

i {
  color: rgb(173, 5, 5);
  font-size: 2rem;
}

#info {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  left: 1rem;
}

i:hover {
  color: gray;
}

.links:hover {
  color: gray;
}